.test
  .row
    .col-xs-2
      %input.form-control{type:"text",placeholder:".col-xs-2"}
    .col-xs-3
      %input.form-control{type:"text",placeholder:".col-xs-3"} 
    .col-xs-4
      %input.form-control{type:"text",placeholder:".col-xs-4"}

  .button.btn.btn-primary （首选项）Primary
