.event-list
  .button.redirect-new.btn.btn-primary{style:"margin-bottom:10px;margin-top:20px;"} 新建项目
  .search-box
    %form.form-inline
      .form-group
        %label 项目编码
        %input.form-control{type:"text", placeholder:"例如：999"}
      .form-group{style:"margin-left:20px;"}
        %label 项目名称
        %input.form-control{type:"text", placeholder:"例如：aa999"}
      %button.btn.btn-primary{type:"submit"} 查询
  %hr
  .event-list-box
    %table.table.table-hover
      %thead
        %tr
          %th 操作
          %td
          %th PID
          %th 项目编码
          %th 项目名称
          %th 项目经理
          %th 项目状态
          %th 项目进度
          %th 计划开始于
          %th 计划完成于
          %th 项目类别
          %th 项目模式
          %th 执行部门
          %th 项目主管
          %th 项目助理
          %th 创建人
          %th 创建日期
      %tbody
        -@num_ary.each do |n|
          %tr
            %td
              %a{title:"管理此项目",href:"javascipte:;", style:'text-decoration:none;color:black;'}
                %i.glyphicon.glyphicon-edit
              %a{title:"导出",href:"javascipte:;", style:'text-decoration:none;color:black;'}
                %i.glyphicon.glyphicon-export
              %a{title:"启动项目",href:"javascipte:;", style:'text-decoration:none;color:black;'}
                %i.glyphicon.glyphicon-play
              %a{title:"删除该项目",href:"javascipte:;", style:'text-decoration:none;color:black;'}
                %i.glyphicon.glyphicon-trash
            %td
              %input{type:"checkbox"}
            %td 2345
            %td 6657
            %td 
              %a{href:"javascript:;",style:'text-decoration:none;color:#60CCEF;', data:{:toggle => "modal", :target =>".bs-example-modal-lg"}}
                %span{style:"font-family:Microsoft YaHei;"} 测试项目6657
            %td Mark
            %td 进行中
            %td 
              .progress
                .progress-bar.progress-bar-info{role:"progress", style:"color:black;width:#{n}%;"}
                  #{n}%
            %td 2016-02-24
            %td 2017-02-24
            %td -
            %td 资源项目
            %td -
            %td Mondor
            %td John
            %td Alan
            %td 2016-02-20
.modal.fade.bs-example-modal-lg{tabindex: "-1", role: "dialog", aria: {labelledby: "modalLabel"}}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header{style:"background-color:#2B84DD;"}
        %button.close{type: "button", data:{dismiss: "modal", global: "false" , aria: {label: "Close"}}}
          %i.glyphicon.glyphicon-remove
        %h4.modal-title{style:"color:white;font-family:Microsoft YaHei;font-size:18px;font-weight: bold;"} 查看项目属性
      .modal-body
        %table.table.table-bordered{style:"height:400px;"}
          %tr
            %td{colspan: "4"}
              %i.glyphicon.glyphicon-book
              %span{style: "font-weight: bold;"} 基本信息

          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目编号
            %td{colspan: "3"} 6657
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目名称
            %td{colspan: "3"} 测试项目6657
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目简称
            %td{colspan: "3"} 6657
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目模式
            %td 资源项目
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目类别 
            %td -
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 执行部门
            %td 设计部
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目主管
            %td -
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目经理
            %td Mark
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目助理
            %td John
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 销售
            %td -
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 客户
            %td -
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目状态
            %td 进行中
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 项目进度
            %td
              .progress
                .progress-bar.progress-bar-info{role:"progress", style:"color:black;width:60%;"}
                  60%
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 币种
            %td -
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 汇率
            %td -
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 合同金额
            %td 0.00
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 税后金额
            %td 0.00
          %tr
            %td{colspan: "4"}
              %i.glyphicon.glyphicon-time
              %span{style: "font-weight: bold;"} 时间属性
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 必须开始于
            %td -
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 必须完成于
            %td -
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 计划开始于
            %td 2016-02-24
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 计划完成于
            %td 2017-02-24
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 实际开始于
            %td -
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 实际完成于
            %td -
          %tr
            %td{colspan: "4"}
              %i.glyphicon.glyphicon-calendar
              %span{style: "font-weight: bold;"} 创建信息
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 创建日期
            %td 2016-02-20
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 更新日期
            %td 2017-02-20
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 创建人
            %td Alan
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"}
            %td
          %tr
            %td{style: "background-color: #F3F3F3;font-family: Microsoft YaHei;"} 描述
            %td{colspan:"3"}
      .modal-footer
        %button.btn.btn-primary{type: "button"}管理此项目
        %button.btn.btn-default.close-modal{type: "button", data:{dismiss: "modal"}}关闭
        

