.new-event
  .base-info
    %a.btn.btn-primary{href:"/test"} 返回
    %span
      %i.glyphicon.glyphicon-exclamation-sign 
      基本信息
  .team
    .row
      .col-xs-2
        %input.form-control{type:"text",placeholder:".col-xs-2"}
      .col-xs-3
        %input.form-control{type:"text",placeholder:".col-xs-3"} 
      .col-xs-4
        %input.form-control{type:"text",placeholder:".col-xs-4"}

    .button.btn.btn-primary （首选项）Primary