.new-event
  %a.btn.btn-primary{href:"/test", style: "margin-top: 10px;margin-bottom: 20px;"} 返回
  .team
    %label
      %i.glyphicon.glyphicon-list-alt
      新建项目
    %hr
    .base-info
      %span
        %i.glyphicon.glyphicon-exclamation-sign 
        基本信息
