.working-hours-submit-page{
  background-color: #FFF;
  font-family: Microsoft YaHei;
  .first-block{
    margin: 20px;
    background-color: gray;
  }
  .second-block{
    margin: 20px;
    background-color: gray;
  }
  .third-block{
    margin: 20px;
    background-color: gray;
    .three-col{
      text-align: right;
    }
    .total{
      text-align: right;
    }
  }
}

.zjb{
  text-align: right;
}